name: doc
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Build documentation
        env:
          RUSTDOCFLAGS: -D warnings
        run: |
          cargo doc --no-deps